// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


header, footer {
    padding: 3rem 0;
    text-align: center;
}

.my_container {
    width: 80%;
    margin: 0 auto;
}

@media screen and(min-width: 700px) {
    .my_container {
        width: 50%;
        margin: 0 auto;
    }
}
@media screen and(min-width: 900px) {
    .my_container {
        width: 30%;
    }
}
